.banner {
  height: 70vh;
  width: 100%;
  background: url('https://miro.medium.com/max/1094/1*MCn1VrXQznTi3JMtAIGK0g.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: -2;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
    to top,
    rgba(6, 21, 161, 0.4),
    rgba(12, 5, 26, 0.3)
  );
}
